@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-cover bg-center bg-no-repeat;
  background-image: url('/background.jpg'); /* path from public folder */ 
  min-height: 100vh;
}
/* index.css */
.zoom-hover {
  transition: transform 0.3s ease-in-out;
}

.zoom-hover:hover {
  transform: scale(1.05);
}